<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar senha - PUC Minas</title>
    <link rel="stylesheet" th:href="@{/css/recoverpassword.css}">
</head>

<body>

<div class="recover-container">
    <div class="recover-form">
        <form th:action="@{/recoverpassword}" method="post" class="recover-form-content">
            <img th:src="@{/images/escudo.png}" alt="Escudo" class="recover-shield">
            <h4 class="recover-title">Recuperar senha</h4>

            <p class="recover-description">
                Informe seu e-mail para receber as instruções de recuperação da senha.
            </p>

            <input type="email" id="email" name="email" placeholder="E-mail" autocomplete="email" required>

            <div class="recover-button-container">
                <button type="submit">Recuperar senha</button>
            </div>

            <p class="recover-redirect-options">
                Lembrou sua senha?
                <a th:href="@{/login}">Faça login</a>
            </p>
        </form>
    </div>
</div>

</body>
</html>